<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%-include('layout/header.ejs')%>
    </header>
    <main>
        <%data.forEach(element=>{%>
              <div>
                  <p>
                      <%=element.quote%>
                  </p>
                  <p>
                    <%=element.character%>
                </p>
                <img src="<%=element.image%>" alt="">
                <p><%=element.charcterDirection%></p>
              </div>
              <form action="/favorite-quotes" method="POST">
                <button>Save Quote</button>
            </form>
        <%})%>
    </main>
    <footer>
        <%-include('layout/footer.ejs')%>
    </footer>
</body>
</html>